<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/"><h1>75YALYıllık</h1></a>
            <form action="/search" method="get" class="mezun-search">
                <input type="text" name="q" placeholder="Mezun adı veya numarası" required>
                <button type="submit">Ara</button>
            </form>
            <nav>
                <ul>
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><a href="/hakkinda">Hakkında</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="breadcrumb">
        <a href="/">Ana Sayfa</a>
        <span>></span>
        <a href="/mezunlar/<%= year %>"><%= year %> Mezunları</a>
        <span>></span>
        <a href="/mezunlar/<%= year %>/<%= className %>"><%= className %></a>
        <span>></span>
        <span><%= student.number %></span>
    </div>

    <main>
        <div class="profile">
            <div class="pheader">
                <div class="pphoto">
                    <img src="<%= student.image %>" alt="<%= student.name %>">
                </div>
                <div class="socials">
                    <% student.socials.forEach(socials => { %>
                            <a class="abtn" href="<%= socials.link %>" target="_blank"><%= socials.name %></a>
                    <% }); %>
                </div>
            </div>
            <div class="pinfo">
                <h1><%= student.name %></h1>
                <p class="bio"><%= student.bio %></p>
                <div class="info"><h4>Bölüm:&nbsp;</h4><p><%= student.department %></p></div>

                <section class="comments">
                    <h2>Yorumlar</h2>
                    <p class="comment-info">*Yorum eklemek/kaltırmak için bize instagram adresimizden <a href="https://instagram.com/yillik75yal" target="_blank">(@yillik75yal)</a> yazabilirsiniz. Bunun nedeni gerçekten siz olduğunuzu doğrulamak. (Yorum geçerli bir sebep sunulmadığı sürece kaldırılmaz.)</p>
                    <div class="comment-list">
                        <% if (student.comments && student.comments.length > 0) { %>
                            <% student.comments.forEach(comment => { %>
                                <div class="comment">
                                    <p class="comment-text"><%= comment.text %></p>
                                    <div class="comment-meta">
                                        <a class="author" href="<%= comment.insta %>" target="_blank"><%= comment.author %></a>
                                        <span class="date"><%= comment.date %></span>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <p class="comment">Henüz yorum yok.</p>
                        <% } %>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <dialog id="first-visit">
        <p>Yıllığımızı ilk ziyaret edişiniz, hoşgeldiniz!</p>
        <p>Öncelikle bu projeye okulumuz tarafından izin verilmiştir. </p>
        <p>Bu internet sitesi, 75YAL mezunlarının anılarını ve fotoğraflarını ücretsiz bir şekilde paylaşması için tasarlanmıştır. Ayrıca, mezunlar ile sosyal medya bağlantıları ile kolay bir şekilde bağlantı kurabilirsiniz.</p>
 
        <p>Lütfen daha fazla bilgi için <a href="/hakkinda">/Hakkında</a> sayfasını göz atın edin.</p>
        <button onclick="closeFirstVisit()">Kapat</button>
    </dialog>
    <script src="/script.js"></script>
</body>
</html>