<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>75YALYıllık</h1>
            <form action="/search" method="get" class="mezun-search">
                <input type="text" name="q" placeholder="Mezun adı veya numarası" required>
                <button type="submit">Ara</button>
            </form>
            <nav>
                <ul>
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><a href="/hakkinda">Hakkında</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="breadcrumb">
        <a href="/">Ana Sayfa</a>
        <span>></span>
        <a href="/mezunlar/<%= year %>"><%= year %> Mezunları</a>
        <span>></span>
        <a href="/mezunlar/<%= year %>/<%= className %>"><%= className %></a>
        <span>></span>
        <span><%= student.name %></span>
    </div>

    <main class="student-profile">
        <div class="profile-container">
            <div class="profile-image">
                <img src="<%= student.image %>" alt="<%= student.name %>">
            </div>
            <div class="profile-content">
                <h1><%= student.name %></h1>
                <p class="bio"><%= student.bio %></p>
                <h3>Sosyal Medyaları</h3>
                <% student.socials.forEach(socials => { %>
                        <a class="studentsocial" href="<%= socials.link %>" target="_blank"><%= socials.name %></a>
                <% }); %>

                <section class="comments">
                    <h2>Yorumlar</h2>
                    <!-- Yorum ekle formu -->
                    <p>*Yorum eklemek için bize instagram adresimizden <a href="https://instagram.com/yillik75yal">(@yillik75yal)</a> yazabilirsiniz. Bunun nedeni gerçekten siz olduğunuzu doğrulamak.</p>
                    <p>**Yorum kaldırmak için bize instagram adresimizden <a href="https://instagram.com/yillik75yal">(@yillik75yal)</a> yazabilirsiniz. Yorum gerçekten bir sorun teşkil etmediği sürece kaldırılmaz.</p>
                    <div class="comment-list">
                        <% student.comments.forEach(comment => { %>
                        <div class="comment">
                            <p class="comment-text"><%= comment.text %></p>
                            <div class="comment-meta">
                                <a href="<%= comment.insta %>" class="author"><%= comment.author %></a>
                                <span class="date"><%= comment.date %></span>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>